/*Reset Website*/
* {
    padding: 0;
    margin: 0;
    border: none;
}



/*=Begin Header=*/
.topbar {
    position: relative;
    height: 50px;
    color: #FFFFFF;
    background: #01A14B;
    font-family: sans-serif !important;
}

    .topbar .topbar-header {
        float: left;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 100px;
    }

    .topbar .topbar-account {
        float: right;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 100px;
    }

.topbar-info .account a {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    text-transform: none;
}

.topbar-info .account a:hover
{
    color: #e2e2e2;
}
/*=End Header=*/



/*=Begin Site=*/
.site {
    position: relative;
    z-index: 99;
    background: #F7F7F9;
    padding: 15px 0;
}

table {
    width: 100%;
    margin: auto;
}

.logo {
    margin-left: 100px;
}

/*=End Site=*/



/*=Begin Menu=*/
#menu {
    border-bottom: 1px solid #e5e5e5;
}

    #menu ul {
        background-color: #FFFFFF;
        list-style-type: none;
        text-align: center;
    }

    #menu li {
        display: inline-block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }

    #menu ul li a {
        color: #333333;
        text-decoration: none;
        display: block;
        font-family: sans-serif !important;
        font-weight: 600;
    }

        #menu ul li a:hover {
            color: #01A14B;
        }



/*==begin dropdown==*/
li a, .dknv {
    display: inline-block;
    color: #F2F0EB;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F0EB;
    min-width: 200px;
    z-index: 1; /*thiết lập thứ tự xếp chồng lên nhau của một phần tử vị trí*/
}

    .dropdown-content a {
        color: black;
        padding: 5px 10px 0px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #D9DADB;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
/*==End Menu*/


/*Begin search*/
.search {
    width: 75%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
    border-radius: 30px;
    outline: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: 1px solid #009234;
    border-radius: 30px 0px 0px 30px;
    text-align: left;
}

.site .button 
{
    background-color: #01A14B;
    border-radius: 0px 30px 30px 0px;
    height: 40px;
    width: 50px;
    margin-left: -5px;
    color: #FFFFFF;
}

.site-header .search-btn .icon_list svg {
    width: 30px;
    height: 30px;
}

.site-header .search-btn:hover {
    background: #01a14b;
    color: #fff;
}

.icon_list svg {
    width: 20px;
    height: 20px;
}

.site-header .search-btn {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 2;
    width: 56px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #009234;
    border-radius: 0px 30px 30px 0;
    font-size: 24px;
    background: #009234;
    color: #fff;
    outline: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 20px;
}

.site-header .search-btn .icon_list svg * {
    stroke: #fff !important;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/*End search*/



/*Begin ShoppingCart*/

.shopping_cart {
    position: relative;
    padding: 0 15px;
    margin-right:100px;
}

.shopping_cart > a:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: unset;
    position: relative;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #01a14b;
}

.shopping_cart p {
    text-align: left;
    margin-bottom: 0;
    font-size: 14px;
    color: #171516;
}

.shopping_cart > a:first-child i {
    font-size: 30px;
    color: #009234;
}

.shopping_cart .cart-icon .icon_list svg {
    width: 40px;
    height: 40px;
}

.shopping_cart .cart-icon {
    position: relative;
    margin-right: 20px;
}

.icon_list svg {
    width: 20px;
    height: 20px;
}

.shopping_cart .cart-icon .icon_list svg path {
    fill: #01a14b;
}

.shopping_cart .cart-icon .cart_quantity {
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #009234;
    background: #fff;
    font-size: 14px;
    color: #009234;
    position: absolute;
    top: -5px;
    right: -16px;
}

.shopping_cart p {
    text-align: left;
    font-size: 14px;
    color: #171516;
    margin-bottom: 0;
    height: 22px;
}

.shopping_cart p span:not(.ajax_cart_quantity) {
    display: block;
}

p {
    margin: 0 0 20px 0;
    line-height: 21px;
}

.shopping_cart .top-cart {
    font-size: 20px;
    font-weight: 700;
}
/*End ShoppingCart*/




/*Begin sản phẩm trong giỏ hàng*/
#cart
{
    height: 700px;
}

#cart h1
{
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 36px;    
    margin-top: 70px;
    padding:10px ;
    border-bottom: 1px solid #eaeaea;
    margin-left: 100px;
    margin-right: 100px;
}

#cart .title-cart
{
    margin-left: 100px;
    margin-right: 100px;
}

input {
    width: 64px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    color: #808080;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 15px;
}

#cart .title-cart .thtruemilk
{
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
}

#cart .title-cart .whyicantfix
{
    height: 70px;
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid #eaeaea;
}

    #cart .title-cart .whyicantfix img
    {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 70px;
    }

    #cart .title-cart .whyicantfix a
    {
        color: #555555;
        text-decoration: none
    }

        #cart .title-cart .whyicantfix a:hover
        {
            color: #01A14B
        }

#cart .title-cart .nowwhat
{
    margin-top: 5px;
    height: 40px;
    padding: 5px;
}

#cart .container .row .col-md-6 textarea
{
    border-radius: 4px;
    height: 70px;
    border: 1px solid #c0bebe;
}

    #cart .container .row .col-md-6 a
    {
        color: #555555;
        text-decoration: none;
    }

        #cart .container .row .col-md-6 a:hover
        {
            color: #01A14B;
        }

#cart .container .row .col-md-6 button
{
    background: #01a14b;
    border: none;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    float: right;
    height: 45px;
    line-height: 45px;
    position: relative;
    cursor: pointer;
    margin: 7px;
    font-weight: 400;
    margin-top: 60px;
    width: 150px;
}
/*End sản phẩm trong giỏ hàng*/


/*Begin footer*/
#footer
{
    width: 100%;
    background-color: #313131;
    height: 400px;
}

#footer .container
{
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 0px 20px;
}

#footer .container img
{
    padding: 0px 0px 25px 0px;
}

#footer .container .col-1
{
    width: 370px;
    color: #FFFFFF;
}

    #footer .container .col-1 p
    {
        padding: 5px 0px 5px;
    }

        #footer .container .col-1 p span
        {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 61px);
            font-size: 16px;
            line-height: 1.5;
        }

    #footer .container .col-1 i
    {
        font-size: 24px;
        margin-right: 10px;
        width: 44px;
        height: 44px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
    }

#footer .container .col-2
{
    width: 261px;
    height: 50px;
    color: #FFFFFF;
}

    #footer .container .col-2 li
    {
        list-style-type: none;
    }

    #footer .container .col-2 a
    {
        text-decoration: none;
        color: #FFFFFF;
    }

        #footer .container .col-2 a:hover
        {
            color: #01A14B;
        }

#footer .container .col-3
{
    width: 208px;
    height: 145px;
    color: #FFFFFF;
    margin-left: 260px;
    margin-top: -50px
}

    #footer .container .col-3 li
    {
        list-style-type: none;
        padding: 0px;
    }

    #footer .container .col-3 a
    {
        text-decoration: none;
        color: #FFFFFF;
    }

        #footer .container .col-3 a:hover
        {
            color: #01A14B;
        }

#footer .container .col-4
{
    width: 300px;
    color: #FFFFFF;
    margin-top: 30px;
}

#footer .container .col-4 .input-group-field
{
    width: 100%;
    height: 34px;
    padding: 10px;
    padding-right: 100px;
    border-radius: 30px 0px 0px 30px;
    border: none;
}

    #footer .container .col-4 .input-group #Email
    {
        width: 220px;
        font-size: 12px;
    }

    #footer .container .col-4 .input-group .btn
    {
        background-color: #01A14B;
        border-radius: 0px 30px 30px 0px;
    }

        input
        {
            position: relative;
            display: inline-block;
        }

#footer .container .col-5
{
    width: 150px;
    color: #FFFFFF;
    margin-left: -20px;
}

    #footer .container .col-5 img
    {
        width: 150px;
        margin-left: 315px;
        margin-top: -50px;
    }    

#footer .container .col-6
{
    width: 300px;
    color: #FFFFFF;
    margin-top: -145px; 
}

    #footer .container .col-6 a i:before
    {
        width: 40px;
        height: 40px;
        text-align: center;
        background: #fff;
        color: #222;
        line-height: 40px;
        display: block;
        -webkit-transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
        -o-transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
        transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
        font-size: 24px;
        border-radius: 4px;
    }

    #footer .container .col-6 a i:hover:before
    {
        background-color: #01a14b;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        color: #fff;
    }
    
/*End footer*/