 
/*===================Reset Website===================*/
* 
{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

img{width: 100%}

/*===================Loader===================*/
.load
{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 99%);
    display: grid;
    place-items: center;
    z-index: 1999;
}

.load-img{
    width: 250px;
    height: 250px;
    animation: animation 3s infinite linear;
}

@keyframes animation
{
    0%
    {
        transform: translateY(0px)
    }

    50%
    {
        transform: translateY(-10px)
    }

    100%
    {
        transform: translateY(0px)
    }
} 

/*===================Header===================*/
header
{
    width: 100%;
    top: 0; right: 0;
    z-index: 1800;
    align-items: center;
    justify-content: space-between;
    background: #01A14B;
    transition: 0.2s;
}


/*===================Top-Header===================*/
img.vn-icon{width: 20px;}

.header-top
{
    margin-left: -150px;
    border-bottom: 1px solid #2f2f3b;}

.header-top .row{width: 1300px}

#menu
{
    position: center;
    float: left;
    font-size: 12px;
}

    #menu ul{margin-bottom: 0px;}

    #menu li {
        display: inline-block;
        line-height: 50px;
        font-weight: 400;
        margin: 0px 10px 0px 10px;
        z-index: 10;
    }

    #menu ul li a {
        color: #FFFFFF;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease 0s;
    }

        #menu ul li a:hover {
            color: rgb(169, 223, 169);
        }


        /*====Dropdown====*/
        li.dropdown {
            display: inline-block;
            transition: all 0.3s ease 0s;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #1D1D1D;
            min-width: 150px;
            z-index: 1; /*thiết lập thứ tự xếp chồng lên nhau của một phần tử vị trí*/
            transition: 0.4s;
        }
        
            .dropdown-content a {
                color: #1D1D1D;
                padding: 0px 0px 0px 10px;
                text-decoration: none;
                display: block;
                text-align: left;
                transition: 0.4s;
            }
        
                .dropdown-content a:hover {
                    color: #FFFFFF
                }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }

#sec-menu
{
    position: center;
    float: right;
    font-size: 12px;
}
        
    #sec-menu ul{margin-bottom: 0px;}
        
    #sec-menu li {
        display: inline-block;
        line-height: 50px;
        font-weight: 400;
        margin: 0px 10px 0px 10px
    }
        
        #sec-menu ul li a {
            color: #FFFFFF;
            text-decoration: none;
            display: block;
            transition: all 0.3s ease 0s;
        }
        
            #sec-menu ul li a:hover {
                color: #1D1D1D;
            }


/*===================Site===================*/
#site {
    z-index: 99;
    background: #FFFFFF;
    padding: 5px 0;
    border-bottom: 1px solid #1D1D1D;
}

table {
    width: 100%;
    margin: auto;

}
    table .logos{width: 250px}

    table .blank-space{width: 350px}

    table .search-fix{width: 150px;}

    table .shopping-cart{width: 190px}

    #site .logo img
    {
        margin-left: 40px;
        height: 60px;
        width: 185px;
        text-decoration: none;
    }

    #site .brand_name img
    {
        margin-left: 20px;
        margin-top: 10px;
        height: 42px;
        width: 160px;
        text-decoration: none;
    }

    .search {
        width: 350px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 48px;
        border-radius: 30px;
        outline: 0;
        border: 1px solid #01a14b;
        border-radius: 10px 0px 0px 10px;
        margin: 0;
    }

   #site .button
    {
        background-color: #01a14b;
        border-radius: 0px 10px 10px 0px;
        height: 40px;
        width: 50px;
        margin-left: -5px;
        color: #FFFFFF;
        transition: 0.4s;
        font-size: 14px;
        margin-left: -5px;
        border: 1px solid #01a14b
    }

        #site .button:hover
        {
            color: #1D1D1D;
        }

    table .shopping-cart i
    {
        font-size: 25px;
        color: #01a14b;
        padding: 0px 0px 0px 20px;
        transition: 0.4s;
    }

        table .shopping-cart i:hover{color: #1D1D1D}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

/*===================Shopping Cart===================*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}
  
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-decoration: none;
    }
  
        .sidenav a:hover {
            color: #AE8F1F;
        }

.sidenav .closed
{
    text-align: center;
    margin-left: 30px;
    width: 340px;
    padding: 20px 0px 40px 0px;
    border-bottom: 1px solid #2F2F3B;
}

.sidenav .closed .cart{float: left;}

    .sidenav .closed .cart span
    {
        font-size: 20px;
        font-weight: 500;
    }

.sidenav .closed .fickbtn{float: right;}

    .sidenav .closebtn {
        font-size: 25px;
        text-decoration: none;
        margin-top: -15px;
        color: #FFFFFF
    }

/*===================Overall Scrollbar===================*/
::-webkit-scrollbar{width: 0px}

::-webkit-scrollbar-thumb{
    background: #F1F1F1;
    border-radius: 10px;
}

.sidenav::-webkit-scrollbar {width: 3px}

/*===================Shopping Cart Items===================*/
.cart-items-container
{
    position: absolute;
    margin-left: 30px;
    width: 340px;
}

.cart-items-container .cart-item
{
    position: relative;
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #2F2F3B;
}

    .cart-items-container .fa-times-circle
    {
        position: absolute;
        top: 38px; right: 5px;
        font-size: 15px;
        cursor: pointer;
        color: #F1F1F1;
    }

        .cart-items-container .fa-times-circle:hover{color:#AE8F1F}

    .cart-items-container img
    {
        height: 90px;
        width: 90px;
    }


    .cart-items-container h3
    {
        margin-top: 0px;
        font-size: 15px;
        color: #FFFFFF;
        padding-bottom: 2px;
    }

    .cart-items-container .qty
    {
        font-size: 12px;
        color: #FFFFFF;
        padding-bottom: 5px;
    }

    .cart-items-container .price
    {
        font-size: 12px;
        color: #FFFFFF;
        padding-bottom: 5px;
    }

.total-price
{
    position: relative;
    padding: 30px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: 5px;
}

.total-prices
{
    position: relative;
    padding: 10px 0px 30px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: 5px;
    border-bottom: 1px solid #2F2F3B;
}

.cart-items-container .button-total
{
    margin-left: 5px;
    margin-top: 30px;
    padding: 15px;
    display: inline-block;
    width: 160px;
    font-size: 17px;
    color: #1D1D1D;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    gap: 15px;
}

    .cart-items-container .button-total:hover
    {
        background-color: #1D1D1D;
    }

.cart-items-container .button-totaly
{
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    display: inline-block;
    width: 160px;
    font-size: 17px;
    color: #1D1D1D;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

    .cart-items-container .button-totaly:hover
        {
            background-color: #1D1D1D;
        }

/*===================Select===================*/
* #select {
    border-bottom: 1px solid #1D1D1D;
    position: center;
    height: 55px;
    margin-bottom: 3px;
}

        .first-li{
            margin-left: -60px;
            width: 300px;
            height: 55px;
            background-color: #1D1D1D;
            cursor: pointer;
            border-radius: 3px 3px 0px 0px;
        }

            .first-li i{color: #FFFFFF;}

        nav{
            max-width: inherit;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 100px;
        }

        .menus >li, .menus >a{display: inline-block;}

        .menus li{position: relative;}

        .menus li a
        {
            color: #1D1D1D;
            text-decoration: none;
            display: block;
            width: 200px;
            height: 25px;
            line-height: 50px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            padding: 5px 10px 0px 5px;
            transition: 0.3s;
            justify-content: space-between;
        }

            .menus li a:hover {
                color: #AE8F1F;
            }

            .submenu{
                position: absolute;
                background-color: #FFFFFF;
                width: 200px;
                left: 0;
                display: none;
                border: 1px solid #EBEBEB;
                z-index: 5;
            }

                .submenu li a{
                    background-color: #FFFFFF;
                    padding: 0px 0px 15px 10px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    font-weight: 0;
                    border-bottom: 1px dashed;
                    height: 50px;
                }
            
            .sub-submenu{
                position: absolute;
                left: 100%;
                width: 200px;
                top: 0;
                display: none;
            }

                .menus li:hover > .submenu{
                    display: block;
                    animation: slidedown .5s ease;
                }

                .menus li:hover > .sub-submenu{
                    display: block;
                    animation: slideright .5s ease;
                }

            .first-li-submenu{
                position: absolute;
                border: 1px solid #EBEBEB;
                background: #FFFFFF;
                width: 300px;
                left: 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-in-out;
                z-index: 1;
            }
            

                    .first-li-submenu li a{
                        padding: 0px 10px 15px 10px;
                        text-decoration: none;
                        text-align: left;
                        font-weight: 0;
                        /* border-bottom: 1px dashed; */
                        height: 50px;
                        width: 300px;
                        transition: max-height 1s ease;
                        font-size: 15px;
                    }

                        .first-li-submenu li:hover{color: #AE8F1F;}

            .first-li-submenu #more{display: none;}

@keyframes slidedown{
    0%{
        opacity: 0;
        transform: translateY(-5px);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideup{
    0%{
        opacity: 0;
        transform: translateY(5px);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideright{
    0%{
        opacity: 0;
        transform: translateX(-25px);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}




/*Begin sản phẩm trong giỏ hàng*/
#cart
{
    height: 700px;
}

#cart h1
{
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 36px;    
    margin-top: 70px;
    padding:10px ;
    border-bottom: 1px solid #eaeaea;
    margin-left: 100px;
    margin-right: 100px;
}

#cart .title-cart
{
    margin-left: 100px;
    margin-right: 100px;
}

input {
    width: 64px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    color: #808080;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 15px;
}

#cart .title-cart .thtruemilk
{
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
}

#cart .title-cart .whyicantfix
{
    height: 70px;
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid #eaeaea;
}

    #cart .title-cart .whyicantfix img
    {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 70px;
    }

    #cart .title-cart .whyicantfix a
    {
        color: #555555;
        text-decoration: none
    }

        #cart .title-cart .whyicantfix a:hover
        {
            color: #01A14B
        }

#cart .title-cart .nowwhat
{
    margin-top: 5px;
    height: 40px;
    padding: 5px;
}

#cart .container .row .col-md-6 textarea
{
    border-radius: 4px;
    height: 70px;
    border: 1px solid #c0bebe;
}

    #cart .container .row .col-md-6 a
    {
        color: #555555;
        text-decoration: none;
    }

        #cart .container .row .col-md-6 a:hover
        {
            color: #01A14B;
        }

#cart .container .row .col-md-6 button
{
    background: #01a14b;
    border: none;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    float: right;
    height: 45px;
    line-height: 45px;
    position: relative;
    cursor: pointer;
    margin: 7px;
    font-weight: 400;
    margin-top: 60px;
    width: 150px;
}
/*End sản phẩm trong giỏ hàng*/
