<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SignIn.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="//theme.hstatic.net/200000287623/1000948667/14/favicon.png?v=203" type="image/png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <script src="/angular.min.js"></script>
    <script src="endmin.js"></script>


    <title>Tài khoản - CÔNG TY CỔ PHẦN XUẤT BẢN VÀ TRUYỀN THÔNG IPM</title>
    <link rel="canonical" href="#" />
</head>
<body ng-app="myapp" ng-controller="loginCtrl">
    <div id="sign-in">
        <h1>ĐĂNG NHẬP</h1>
       
        <div class="box">
            <label for="customer_email" class="icon-field"><i class="far fa-envelope"></i></label>
            <input style="color: black;" type="text" ng-model="user_name" id="customer_email" placeholder="Email" class="text" />

            <label for="customer_password" class="icon-field"><i class="fas fa-lock"></i></label>
            <input style="color: black;" type="password" ng-model="password" id="customer_password" placeholder="Mật khẩu" class="text" />

            <button class="btn-signIn" ng-click="login_()">Đăng nhập</button><br><br>

            <a class="style-a" href="#password">Quên mật khẩu?</a>hoặc<a class="style-a" href="#Sign">Đăng ký</a>

            <button class="btn-facebook"><i class="fab fa-facebook-f"></i></button>
            <button class="btn-googlePlus"><i class="fab fa-google-plus-g"></i></button>
        </div>
    </div>
    

</body>
<script src="/Đăng nhập/endmin.js"></script>
<!-- <script src="./login.js"></script> -->
</html>